[Unit]
Description=Beacon REST API
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/beacon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
